.welcome-admin {
  height: 100vh;
  display: flex;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  background-color: #ffffff;
  background-image:  linear-gradient(30deg, #6c7571 12%, transparent 12.5%, transparent 87%, #6c7571 87.5%, #6c7571), linear-gradient(150deg, #6c7571 12%, transparent 12.5%, transparent 87%, #6c7571 87.5%, #6c7571), linear-gradient(30deg, #6c7571 12%, transparent 12.5%, transparent 87%, #6c7571 87.5%, #6c7571), linear-gradient(150deg, #6c7571 12%, transparent 12.5%, transparent 87%, #6c7571 87.5%, #6c7571);
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;}

  .welcome-admin .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  background-color: #06060c;
  border-radius: 2%;
  box-shadow: #000;
}

.welcome-admin .form-admin {
  padding: 10%;
  width: 300px;
  text-align: center;
  display: contents;
}

.welcome-admin .form-admin h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  align-items: center;
  color: #aba9a9;
  margin-bottom: 3rem;
}

.welcome-admin .form-admin .error-msg {
  font-size: medium;
  color: rgb(221, 38, 38);
  border: 1px solid rgb(221, 38, 38);
  background-color: rgb(253, 233, 233);
  padding: 0.5rem;
  width: 92%;
  margin-top: 0;
}
.form-container-admin{
  text-align: center;

}

.welcome-admin .offscreen {
  display: none;
}

.welcome-admin .content {

  width: inherit;

}

.welcome-admin .content>input {
  padding: 10px;
  width: 92%;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid #f7f8f9;
  background-color: #f7f8f9;
  border-radius: 5px;
  color: #000;
}

.welcome-admin .content>input:focus {
  border: 1px solid rgb(187, 187, 187);
}


.welcome-admin .content>button {
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 10px;
  width: 40%;
  padding: 10px;
  transition: 0.4s;
  font-size: 1.1rem;
  background-color: #888b8964;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  cursor: pointer;
}

.welcome-admin .content>button:hover {
  color: #fff;
  box-shadow: 0 0 20px #888b8999;
  background-color: #888b8964;
}




@media only screen and (max-width: 1000px) {

  .content>input {
    width: 70%;
  
  }
  .welcome-admin .login-container {
    width: 80%;
    height: 60%;

  }

  .form-container {
    font-size: 1%;
  }
}

@media only screen and (max-width: 700px) {
  .form-admin {
    font-size: 1%;
  }
}