.quiz-container {
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 800px;
  padding: 20px;
}

.quiz-container .title {
  font-size: 3em;
  text-align: center;
  border: 5px solid var(--primary-color);
  padding: 0.3em 0.2em;
  border-radius: 4px;
}

.text-light {
  color: var(--light-color);
}

.quiz-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.quiz-container .questions {
  padding: 3em;
}

/* 
  .container .questions .qid{
    padding: .2em .7em;
    color: #222222;
    background-color: #0DFF92;
    border-radius: 50px;
  } */

.quiz-container .grid {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.quiz-container .btn {
  padding: 0.2em 1.7em;
  border: none;
  border-radius: 0.1em;
  font-size: 1.2em;
}

.quiz-container .btn:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  color: #202020;
}

.next {
  background-color: var(--primary-color);
  justify-self: flex-end;
}

.prev {
  background-color: #faff5a;
  justify-self: flex-start;
}
