.button-home{
    display: flex;
    align-items: center;
    margin: 0;
    color: #ffffffff;
    border: 0;
    background: none;
    font-size: 24px;
}

.button-home:hover {
    display: flex;
    align-items: center;
    color: #4d4c4c;
}

@media (max-width: 767px) {

    .button-home
    {
        font-size: 0;
        padding: 0.5rem;
    }
}